In [71]:
# First XGBoost model for WIDS
import pandas as pd
import numpy as np
from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [72]:
# load data
dataset=pd.read_csv('filled_training_data.csv')

In [73]:
dataset.head()

,encounter_id,hospital_id,hospital_death,age,bmi,elective_surgery,ethnicity,gender,height,hospital_admit_source,...,aids,cirrhosis,diabetes_mellitus,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,apache_3j_bodysystem,apache_2_bodysystem
0,66154,118,0,68.0,22.73,0,Caucasian,M,180.3,Floor,...,0,0,1,0,0,0,0,0,Sepsis,Cardiovascular
1,114252,81,0,77.0,27.42,0,Caucasian,F,160.0,Floor,...,0,0,1,0,0,0,0,0,Respiratory,Respiratory
2,119783,118,0,25.0,31.95,0,Caucasian,F,172.7,Emergency Department,...,0,0,0,0,0,0,0,0,Metabolic,Metabolic
3,79267,118,0,81.0,22.64,1,Caucasian,F,165.1,Operating Room,...,0,0,0,0,0,0,0,0,Cardiovascular,Cardiovascular
4,92056,33,0,19.0,28.52,0,Caucasian,M,188.0,Floor,...,0,0,0,0,0,0,0,0,Trauma,Trauma

In [74]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91580 entries, 0 to 91579
Columns: 113 entries, encounter_id to apache_2_bodysystem
dtypes: float64(83), int64(21), object(9)
memory usage: 79.0+ MB

In [75]:
dataset.dtypes

encounter_id                       int64
hospital_id                        int64
hospital_death                     int64
age                              float64
bmi                              float64
elective_surgery                   int64
ethnicity                         object
gender                            object
height                           float64
hospital_admit_source             object
icu_admit_source                  object
icu_stay_type                     object
icu_type                          object
pre_icu_los_days                 float64
readmission_status                 int64
weight                           float64
apache_2_diagnosis               float64
apache_3j_diagnosis              float64
apache_post_operative              int64
arf_apache                         int64
bun_apache                       float64
creatinine_apache                float64
gcs_eyes_apache                    int64
gcs_motor_apache                   int64
gcs_unable_apache                  int64
gcs_verbal_apache                  int64
glucose_apache                   float64
heart_rate_apache                float64
hematocrit_apache                float64
intubated_apache                   int64
                                  ...
d1_creatinine_max                float64
d1_creatinine_min                float64
d1_glucose_max                   float64
d1_glucose_min                   float64
d1_hco3_max                      float64
d1_hco3_min                      float64
d1_hemaglobin_max                float64
d1_hemaglobin_min                float64
d1_hematocrit_max                float64
d1_hematocrit_min                float64
d1_platelets_max                 float64
d1_platelets_min                 float64
d1_potassium_max                 float64
d1_potassium_min                 float64
d1_sodium_max                    float64
d1_sodium_min                    float64
d1_wbc_max                       float64
d1_wbc_min                       float64
apache_4a_hospital_death_prob    float64
apache_4a_icu_death_prob         float64
aids                               int64
cirrhosis                          int64
diabetes_mellitus                  int64
hepatic_failure                    int64
immunosuppression                  int64
leukemia                           int64
lymphoma                           int64
solid_tumor_with_metastasis        int64
apache_3j_bodysystem              object
apache_2_bodysystem               object
Length: 113, dtype: object

In [76]:
#pd.get_dummies(dataset, columns=['gender'])

In [77]:
dataset["apache_2_bodysystem"] = dataset["apache_2_bodysystem"].astype('category')
dataset["apache_3j_bodysystem"] = dataset["apache_3j_bodysystem"].astype('category')
dataset["icu_type"] = dataset["icu_type"].astype('category')
dataset["icu_stay_type"] = dataset["icu_stay_type"].astype('category')
dataset["icu_admit_source"] = dataset["icu_admit_source"].astype('category')
dataset["hospital_admit_source"] = dataset["hospital_admit_source"].astype('category')
dataset["ethnicity"] = dataset["ethnicity"].astype('category')
dataset["gender"] = dataset["gender"].astype('category')
dataset.dtypes

encounter_id                        int64
hospital_id                         int64
hospital_death                      int64
age                               float64
bmi                               float64
elective_surgery                    int64
ethnicity                        category
gender                           category
height                            float64
hospital_admit_source            category
icu_admit_source                 category
icu_stay_type                    category
icu_type                         category
pre_icu_los_days                  float64
readmission_status                  int64
weight                            float64
apache_2_diagnosis                float64
apache_3j_diagnosis               float64
apache_post_operative               int64
arf_apache                          int64
bun_apache                        float64
creatinine_apache                 float64
gcs_eyes_apache                     int64
gcs_motor_apache                    int64
gcs_unable_apache                   int64
gcs_verbal_apache                   int64
glucose_apache                    float64
heart_rate_apache                 float64
hematocrit_apache                 float64
intubated_apache                    int64
                                   ...
d1_creatinine_max                 float64
d1_creatinine_min                 float64
d1_glucose_max                    float64
d1_glucose_min                    float64
d1_hco3_max                       float64
d1_hco3_min                       float64
d1_hemaglobin_max                 float64
d1_hemaglobin_min                 float64
d1_hematocrit_max                 float64
d1_hematocrit_min                 float64
d1_platelets_max                  float64
d1_platelets_min                  float64
d1_potassium_max                  float64
d1_potassium_min                  float64
d1_sodium_max                     float64
d1_sodium_min                     float64
d1_wbc_max                        float64
d1_wbc_min                        float64
apache_4a_hospital_death_prob     float64
apache_4a_icu_death_prob          float64
aids                                int64
cirrhosis                           int64
diabetes_mellitus                   int64
hepatic_failure                     int64
immunosuppression                   int64
leukemia                            int64
lymphoma                            int64
solid_tumor_with_metastasis         int64
apache_3j_bodysystem             category
apache_2_bodysystem              category
Length: 113, dtype: object

In [78]:
dataset["apache_2_bodysystem"] = dataset["apache_2_bodysystem"].cat.codes
dataset["apache_3j_bodysystem"] = dataset["apache_3j_bodysystem"].cat.codes
dataset["icu_type"] = dataset["icu_type"].cat.codes
dataset["icu_stay_type"] = dataset["icu_stay_type"].cat.codes
dataset["icu_admit_source"] = dataset["icu_admit_source"].cat.codes
dataset["hospital_admit_source"] = dataset["hospital_admit_source"].cat.codes
dataset["ethnicity"] = dataset["ethnicity"].cat.codes
dataset["gender"] = dataset["gender"].cat.codes


dataset.head()

,encounter_id,hospital_id,hospital_death,age,bmi,elective_surgery,ethnicity,gender,height,hospital_admit_source,...,aids,cirrhosis,diabetes_mellitus,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,apache_3j_bodysystem,apache_2_bodysystem
0,66154,118,0,68.0,22.73,0,2,1,180.3,4,...,0,0,1,0,0,0,0,0,9,0
1,114252,81,0,77.0,27.42,0,2,0,160.0,4,...,0,0,1,0,0,0,0,0,8,6
2,119783,118,0,25.0,31.95,0,2,0,172.7,3,...,0,0,0,0,0,0,0,0,5,3
3,79267,118,0,81.0,22.64,1,2,0,165.1,8,...,0,0,0,0,0,0,0,0,0,0
4,92056,33,0,19.0,28.52,0,2,1,188.0,4,...,0,0,0,0,0,0,0,0,10,7

In [79]:
dataset.hospital_admit_source.value_counts()

3     48202
8     12748
4     10514
2      8321
13     3786
0      2463
10     2147
14     1465
12     1316
11      317
1       178
6        60
5        44
7        11
9         8
Name: hospital_admit_source, dtype: int64

In [42]:
#dataset= dataset['hospital_admit_source'].astype('category')

In [64]:
#hospital_admit_source.replace(replace_hospital_admit_source, inplace=True)

#print(replace_hospital_admit_source.head())

In [28]:
dataset.icu_admit_source.value_counts()

Accident & Emergency         54064
Operating Room / Recovery    18715
Floor                        15591
Other Hospital                2360
Other ICU                      850
Name: icu_admit_source, dtype: int64

In [29]:
dataset.icu_stay_type.value_counts()

admit       86070
transfer     4959
readmit       551
Name: icu_stay_type, dtype: int64

In [30]:
dataset.icu_type.value_counts()

Med-Surg ICU    50506
MICU             7685
Neuro ICU        7665
CCU-CTICU        7135
SICU             5209
Cardiac ICU      4771
CSICU            4609
CTICU            4000
Name: icu_type, dtype: int64

In [31]:
dataset.apache_3j_bodysystem.value_counts()

Cardiovascular          30477
Neurological            12110
Sepsis                  11930
Respiratory             11804
Gastrointestinal         9208
Metabolic                7777
Trauma                   3917
Genitourinary            2210
Musculoskeletal/Skin     1186
Hematological             645
Gynecological             316
Name: apache_3j_bodysystem, dtype: int64

In [32]:
dataset.apache_2_bodysystem.value_counts()

Cardiovascular         39512
Neurologic             12090
Respiratory            11788
Gastrointestinal        9179
Metabolic               7781
Trauma                  3908
Undefined diagnoses     3817
Renal/Genitourinary     2505
Haematologic             648
Undefined Diagnoses      352
Name: apache_2_bodysystem, dtype: int64

In [19]:
dataset.ethnicity.value_counts()

Caucasian           71685
African American     9660
Other/Unknown        4432
Hispanic             3859
Asian                1143
Native American       801
Name: ethnicity, dtype: int64

In [20]:
dataset.gender.value_counts()

M    49408
F    42172
Name: gender, dtype: int64

In [23]:
dataset.ethnicity.value_counts()

Caucasian           71685
African American     9660
Other/Unknown        4432
Hispanic             3859
Asian                1143
Native American       801
Name: ethnicity, dtype: int64

In [92]:
# split data into X and y
#X = dataset.drop(['hospital_death'],axis=1)
#Y = dataset.hospital_death

In [93]:
# split data into train and test sets
#seed = 7
#test_size = 0.33
#X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)

In [94]:
# fit model no training data
#model = XGBClassifier()
#model.fit(X_train, y_train)

In [84]:
print(dataset.d1_spo2_max.dtypes)

object

In [87]:
dataset["d1_spo2_max"]= dataset.d1_spo2_max.astype(float)

ValueError: could not convert string to float: '#NAME?'

In [88]:
# split data into X and y
X = dataset.drop(['hospital_death','d1_spo2_max'],axis=1)
Y = dataset.hospital_death

In [89]:
# split data into train and test sets
seed = 7
test_size = 0.33
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)

In [90]:
# fit model no training data
model = XGBClassifier()
model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster=None, colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints=None,
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='binary:logistic', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method=None,
              validate_parameters=False, verbosity=None)

In [91]:
# make predictions for test data
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]
# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 93.17%

In [96]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(class_weight='balanced',solver='lbfgs')
lr.fit(X_train, y_train)
predictions = lr.predict(X_test)
a=accuracy_score(y_true = y_test, y_pred = predictions)
a

C:\Users\Nupur Harmalkar\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

0.732347296671299

In [97]:
e= 1-a
print('error rate is : %.3f'%(1-a))

error rate is : 0.268

In [98]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=4)
classifier.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=4, p=2,
                     weights='uniform')

In [100]:
y_pred = classifier.predict(X_test)

In [101]:
a=accuracy_score(y_test, y_pred )
a

0.914863344583416

In [102]:
e= 1-a
print('error rate is : %.3f'%(1-a))

error rate is : 0.085

In [104]:
from sklearn.metrics import confusion_matrix, classification_report, precision_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[27634    67]
 [ 2506    15]]
              precision    recall  f1-score   support

           0       0.92      1.00      0.96     27701
           1       0.18      0.01      0.01      2521

    accuracy                           0.91     30222
   macro avg       0.55      0.50      0.48     30222
weighted avg       0.86      0.91      0.88     30222